body {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0px;
    height: 100%;
    width: 100%;

    /* //no centra verticalmente!! ¿por que? */
    display: block;
    justify-content: center;
    align-items: center;


}


#navbar {
    background-color: #282828;
    color: #686868;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 1em; */

    height: 2em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: #141414 solid 2px;

}

#nav2 {
    background-color: #202020;
    color: #686868;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    height: 2em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 2.1em;
}



#avatar {

    height: 100%;
    width: 100%;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 70px);
}

img {
    height: 140px;
    border-radius: 50%;
    filter: grayscale(1);

    transition: filter 1s;
}

img:hover {
    filter: grayscale(0);
}





::-moz-selection {
    /* Code for Firefox */
    color: rgb(223, 175, 255);
    background: #f06;
}

::selection {
    color: white;
    background: #f06;
}




/* circles */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
}

.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    animation-name: preloader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 170px 170px;
    will-change: transform;

    /*
    &:nth-of-type(1) {
        stroke-dasharray: 550px;
    }

    &:nth-of-type(2) {
        stroke-dasharray: 500px;
    }

    &:nth-of-type(3) {
        stroke-dasharray: 450px;
    }

    &:nth-of-type(4) {
        stroke-dasharray: 300px;
    }
    

    @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
            animation-delay: -#{$i * 0.15}s;
        }
    }
    */
}

#one {
    stroke-dasharray: 300px;
}

#two {
    stroke-dasharray: 10px;
    animation-delay: 0.15s;
    stroke: #E2007C;
}

#three {
    stroke-dasharray: 450px;
    animation-delay: 0.30s;
    stroke: #404041;
}

#four {
    stroke-dasharray: 550px;
    animation-delay: 0.45s;
    stroke: #E2007C;
}


@keyframes preloader {
    50% {
        transform: rotate(360deg);
    }
}