.parent {
    border: 2px black dotted;
    display: inline-block;

    position: relative;
    top: 150px;
    left: 200px;
}

.box {
    display: inline-block;
    /*background: red;*/
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    width: 100px;
    height: 100px;
}

#two {
    top: 20px;
    left: 20px;
    /*background: green;*/
    /*background: linear-gradient(-90deg, #FCEE21 0%, #FF00FF 100%);*/
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    position: relative;
}

body {
    background-image: linear-gradient(109.6deg, rgba(45, 116, 213, 1) 11.2%, rgba(121, 137, 212, 1) 91.2%);
}